.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    .title {
        font-family: berkshire;
        letter-spacing: 1px;
        font-weight: 400;
        color: rgba(8, 75, 110, 1);
    }
    .content {
        display: flex;
        justify-content: space-around;
        div {
            margin-right: 8vw;
            .ctn_img {
                border-radius: 6px;
                margin: 0 auto;
                // border: 1px solid rgba(166, 166, 166, 0.58);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .ctn_img:hover {
                // border: 1px solid rgba(166, 166, 166, 0.58);
                box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 3px 6px rgba(0, 0, 0, 0.12);
            }
            .ctn_name,.ctn_desc {
                font-family: Roboto;
                text-align: center;
                color: rgba(128, 128, 128, 1);
            }
            .ctn_desc {
                margin-right: 0;
            }
            .ctn_action {
                div {
                    cursor: pointer;
                    margin: 0 auto;
                    font-family: Roboto;
                    color: rgba(255, 255, 255, 1);
                    box-shadow: 3px 4px 6px 2px rgba(181, 166, 121, 0.2);
                    border-radius: 4px;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                div:hover {
                    opacity: 0.8;
                }
                span:last-child {
                    margin-left: 1vw;
                    border: solid;
                    border-width: 0 2px 2px 0;
                    padding: 3.0px;
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                }
            }
        }
        div:last-child {
            margin-right:0;
        }
    }
    .footer {
        // margin-top: 4.9vw;
        color: rgba(8, 75, 110, 1);
        font-family: berkshire;
        letter-spacing: 1px;
        font-weight: 400;
    }
}
@media screen and (min-width:1181px) {  //pc
    @import url(@/style/pc.less);
}
@media screen and (max-width:700px) { //phone
    @import url(@/style/phone.less);
}
@media screen and (max-width:1180px) and (min-width:700px) and (orientation:landscape ) {//pad横屏 
    @import url(@/style/padLandscape.less);
}
@media screen and (max-width:1180px) and (min-width:700px) and (orientation:portrait ) {//pad竖屏
    @import url(@/style/padPortrait.less);
}